@model InlogModel
@{
    ViewData["Title"] = "Inloggen";
}


@if (Model != null)
{

}

<h1> Log hier in op uw account </h1>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="inlog-pagina">

        <h2 id="h2centerform">Inlogformulier</h2>
        <hr />
        <!-- formulier wordt verstuurd naar database en als de invoer niet goed is wordt het met eigen gemaakt error message weer gegeven-->
        <form text- method="post">
            <input type="text" name="Voornaam" placeholder="Voornaam" /> <br />
            @Html.ValidationMessageFor(m => m.Voornaam) <br />
            <input type="text" name="Achternaam" placeholder="Achternaam" /> <br />
            @Html.ValidationMessageFor(m => m.Achternaam) <br />
            <input type="text" name="Email" placeholder="Emailadres" /> <br />
            @Html.ValidationMessageFor(m => m.Email) <br />
            <input type="date"  name="Geboortedatum" placeholder="Geboortedatum"  /> <br />
            @Html.ValidationMessageFor(m => m.Geboortedatum) <br />
            <input type="password" name="Wachtwoord" placeholder="Wachtwoord" /> <br />
            @Html.ValidationMessageFor(m => m.Wachtwoord) <br />

            <input type="submit" value="verstuur" />
        </form>






</body>
