@using SchoolTemplate.Database;
@model klant_inloggen;
@{
    ViewData["Title"] = "Inlogpagina";
    List<Inloggegevens> inloggegevens = ViewData["Inloggegevens"] as List<Inloggegevens>;
}

<h3>
    Uw gegevens!
</h3>

@foreach (Inloggegevens i in inloggegevens)
{

   

    <p>@Model.Voornaam</p>
    <p>@Model.Achternaam </p>
    <p>@Model.Emailadres</p>
    <p>@Model.Geboortedatum</p>
    <p>@Model.Wachtwoord</p>
}
