@using SchoolTemplate.Database;
@model klant_inloggen;
@{
    ViewData["Title"] = "Profielpagina";
    List<Inloggegevens> inloggegevens = ViewData["Inloggegevens"] as List<Inloggegevens>;
}

<p>Voornaam: @Model.Voornaam</p>
<p>Achternaam: @Model.Achternaam</p>
<p>Emailadres: @Model.Emailadres</p>
<p>Geboortedatum: @Model.Geboortedatum</p>
<p>Wachtwoord: @Model.Wachtwoord</p>

