@using SchoolTemplate.Database;
@model KlantModel;
@{
    ViewData["Title"] = "Profielpagina";    
}

<p>Voornaam: @Model.Voornaam</p>
<p>Achternaam: @Model.Achternaam</p>
<p>Emailadres: @Model.Email</p>
<p>Geboortedatum: @Model.Geboortedatum</p>
<p>Wachtwoord: @Model.Wachtwoord</p>

